[submodule "socks-over-https"]
	path = socks-over-https
	url = https://github.com/richarah/socks-over-https
[submodule "docker-firewall"]
	path = docker-firewall
	url = https://github.com/richarah/docker-firewall.git
[submodule "redudp"]
	path = redudp
	url = https://github.com/richarah/redsocks2
[submodule "redsocks"]
	path = redsocks
	url = https://github.com/richarah/redsocks
