[submodule "redsocks"]
	path = redsocks
	url = https://github.com/richarah/redsocks.git
[submodule "docker-firewall"]
	path = docker-firewall
	url = https://github.com/richarah/docker-firewall
[submodule "socks-over-https"]
	path = socks-over-https
	url = https://github.com/richarah/socks-over-https
